@import "../../theme/variables.scss";


.profileWrapper{
    display: flex;
    flex-direction: column;
}

.ProfileStatistics {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: $mobile) {
  .ProfileInfo {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }

  .ProfileStatistics{
    flex-wrap: wrap;
  }

  .profileWrapper{
    flex-direction: column-reverse;
  }

  .AccountNotVerified{
    grid-template-columns: 1fr;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
  }
}
